@charset "UTF-8";
/* CSS Document */

/* 共通 */

html, body {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", Meiryo, sans-serif;
    font-kerning: normal;
    font-variant-east-asian: proportional-width;
    font-feature-settings: "palt" 1, "kern" 1;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background: #F5F5F5;
    max-width: 100%;
    margin: 0 auto;
    letter-spacing: 0.02em;
}

.show_pc {display: block;}
.show_sp{display: none;}

.hid{display: none;} /* CTAを一時隠す */

@media screen and (max-width: 480px){
    .show_pc {display: none;}
    .show_sp {display: block;}
}

/* ーーーーーーーーーーーーーーーーーーbaseーーーーーーーーーーーーーーーーーー */
h1 {font-size: 34px; color: #141414; font-weight: 700;}
h1 > span {font-size: 94%;}
h2 {font-size: 32px; color: #141414; margin: 40px 0 32px 0;}

.content-wrap{width: 1072px; margin: 0 auto;}
.center-m{margin: 0 auto;}
.flex {
    display: flex;
}
.middle-item{ /*3列flexの真ん中要素用*/
    margin: 0 20px;
}
.middle-item-feature{ /*featuresの1,2,3番めの要素用*/
    margin: 0 20px 0 0;
}
p {font-size: 18px; color: #141414; font-weight: 500;}

.note{font-size: 50%; font-weight: 400; line-height: 50%;}
.theme{color: #4Ac2b8;}
.kome{font-size: 8px; vertical-align: text-top; }


@media screen and (max-width: 480px) { /* スマホ用 */
    h1{font-size: 6vw;}
    h2{font-size: 4.8vw; line-height: 180%;}
    p {font-size: 4vw;}
    .note{font-size: 60%;}
    .kome{font-size: 2vw; vertical-align: text-top; }
    .content-wrap{width: 100%;}
    .middle-item{margin: 0;}
    .middle-item-feature{margin: 0;}
}


/* ーーーーーーーーーーーーーーーーーーnavーーーーーーーーーーーーーーーーーー */

nav {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    top: 0;
    right: 0;
    background-color: transparent;
    transition: all 0.5s ease;
}
nav.scrolled{
    background-color: rgba(255, 255, 255, 0.7);
}

.nav-wrap{position: relative; max-width: 1072px; margin: 0 auto;}
nav ul{
    position: absolute;
    display: flex;
    top: 0;
    right: 40px;
}
nav li{
    margin: 30px 0px;
}

nav a {padding: 20px 20px; transition: all 0.3s ease;}
nav a:hover {text-shadow: 0 0 20px #4Ac; background-color: inherit;}

@media screen and (max-width: 480px) { /*スマホではナビバーを表示しない*/
    nav{display: none;}
}


/* ーーーーーーーーーーーーーーーーーーCTAーーーーーーーーーーーーーーーーーー */
a.cta {
    position: absolute;
    background: #4Ac2b8;
    width: 326px;
    height: 60px;
    border-radius: 30px;
    font-weight: 700;
    text-align: center;
    bottom: -100px;
    transition: background 0.3s, color 0.3s;
}
a.cta p{font-size: 24px; color: #fff !important; margin: 0; padding: 12px 0;} 
a.cta_main {
    background: #4Ac2b8;
    color: #fff;
    font-size: 24px;
    width: 500px;
    height: 60px;
    font-weight: 700;
    margin: 30px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

a.cta_navi {
    background: #4Ac2b8;
    color: #fff;
    width: 240px;
    height: 30px;
    font-weight: 700;
    margin: -8px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

a.cta_navi:hover{
    background: #4Ac;
}

a:hover {
    background: #4Ac;
}


@media screen and (max-width: 480px) {
    a.cta{
        width: 88vw;
        height: 16vw;
        bottom: -106vw;
        left: 6vw;
        border-radius: 8vw;
    }
    a.cta p{font-size: 6vw; color: #fff !important; margin: 0; padding: 3.4vw 0; text-align: center;}

    a.cta_main {
        width: 88vw;
        height: 14vw;
        border-radius: 7vw;
        font-size: 5.2vw;
    }
}

/* ーーーーーーーーーーーーーーーーーーheaderーーーーーーーーーーーーーーーーーー */
header {
    background: linear-gradient(to right, #E0F8FF, #E6FFF1);
    padding: 0 0 0 0;
    height: 600px;
    max-width: 100%;
}
.header-wrap{margin: 0 0 0 32px; padding: 120px 0 0 0; z-index: 5; position: relative;}
header p {font-size: 18px; z-index: 100;}

header p span{font-size:smaller}

header p.pill{
    margin-top: 12px;
    display:inline-block;
    color: #17907E;
    background-color: rgba(255, 255, 255, 0.7);
    padding:.25em .75em .35em .75em ;
    border-radius:1em;
    line-height:1.6;
}

header img{
    width: 326px;
    margin: 24px 0;
}

.header-image-wrap {
    width: 100vw;
    max-width: 1072px;
    min-width: 992px;
    position: relative;
    transition: all 0.3s cubic-bezier(.64, 0, .23, 1);
}
div.header-image{
    position: absolute;
    top: -352px;
    right: 0px;
    background-image: url(../images/top_pc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 631px; height: 421px;
    z-index: 1;
}

@media screen and (max-width: 480px) {
    header {max-width: 100vw; height: 172vw; text-align: center; overflow: hidden;}
    header p {font-size: 4vw; text-align: left; margin: 0 6vw 0 6vw;}
    header img{width: 60vw; margin: 6vw auto;}
    .header-wrap {margin: 0 0 0 0; padding: 8vw 0 0 0;}
    .header-image-wrap{min-width: 100%; position: static;}
    div.header-image{
        position: static;
        background-size: 84vw;
        background-position: 7vw 8vw;
        margin: 0 auto;
        transition:none;
        background-image: url(../images/top_sp.svg);}

}


/* ーーーーーーーーーーーーーーーーーーmainーーーーーーーーーーーーーーーーーー */
main{margin: 0 0 80px 0;}

@media screen and (max-width: 480px) {
    main{margin: 0 0 -4vw 0; overflow: hidden;}
}


/* ーーーーーーーーーーーーーーーーーーconcernsーーーーーーーーーーーーーーーーーー */
#concerns {
    padding: 10px 0 60px 0;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}
#concerns ul{
    display: flex;
    margin: 48px 0 0px 0;
}
#concerns li {
    position: relative;
    flex: 1;
    width: 344px;
    height: 360px;
    background: #fff;
    border-radius: 24px;
}
#concerns li > div {
    position: absolute;
    width: 100%;
    bottom: 24px;
    right: 50%;
    white-space: nowrap;
    transform: translateX(50%);
}
#concerns img{
    position: absolute;
    width: 304px;
    bottom: 100px;
    right: 50%;
    transform: translateX(50%);
}

@media screen and (max-width: 480px) { /* スマホ用 */
    #concerns {padding: 2vw 0 8vw 0;}
    #concerns ul{display: block; margin: 8vw 0 0 0;;}
    #concerns li {width: 88vw; height: 71.6vw; margin: 4vw auto 0 auto; overflow: hidden; border-radius:4vw;}
    #concerns li > div {bottom: 6vw;}
    #concerns img {width: 72vw; bottom: 16vw;}
}


/* ーーーーーーーーーーーーーーーーーーsolutionsーーーーーーーーーーーーーーーーーー */
#solutions {
    padding: 10px 0 20px 0;
    text-align: center;
    background: linear-gradient(to right, #E0F8FF, #E6FFF1);
    max-width: 100%;
}
#solutions ul{
    display: flex;
    margin: 48px 0;
}
#solutions li {
    position: relative;
    flex: 1;
    aspect-ratio: 1/1;
    width: 344px;
    height: 360px;
    background: #fff;
    border-radius: 24px;
}
#solutions li > div {
    position: absolute;
    width: 100%;
    bottom: 24px;
    right: 50%;
    white-space: nowrap;
    transform: translateX(50%);
}
#solutions img{
    position: absolute;
    width: 304px;
    bottom: 100px;
    right: 50%;
    transform: translateX(50%);
}

@media screen and (max-width: 480px) { /* スマホ用 */
    #solutions {padding: 2vw 0 4vw 0;}
    #solutions ul{display: block; margin: 8vw 0 0 0;;}
    #solutions li {width: 88vw; height: 71.6vw; margin: 4vw auto 0 auto; overflow: hidden; border-radius:4vw;}
    #solutions li > div {bottom: 6vw;}
    #solutions img {width: 72vw; bottom: 16vw;}
    #solutions .sp_sol_img{width: 60vw; bottom: 24vw;}
}


/* ーーーーーーーーーーーーーーーーーーfeaturesーーーーーーーーーーーーーーーーーー */
#features {
    text-align: center;
    max-width: 100%;
}
div.comming{
    color: #17907E;
    font-size: 14px;
    background: #E0FDF3;
    width: 102px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #17907E;
    margin: 12px 0 0 12px;
}
div.features_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-ul-wrap{margin: 20px 0 60px 0;}
#features ul{
    margin: 0 0 20px 0;
    display: flex;
}
#features li{
    position: relative;
    flex: 1;
    aspect-ratio: 1/1;
    background: #fff;
    border-radius: 24px;
}
#features li p {
    position: absolute;
    width: 100%;
    bottom: 24px;
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
    font-size: 16px;
}
#features li div {
    position: absolute;
    background: #e0fdf3;
    border: solid 1px #17907e;
    border-radius: 20px;
    color: #17907E;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 6px;
    top: 12px;
    left: 12px;

}
#features img{
    position: absolute;
    width: 200px;
    bottom: 52px;
    right: 50%;
    transform: translateX(50%);
}

@media screen and (max-width: 480px) { /* スマホ用 */
    div.features_title{display: block; margin: 0 auto;}
    #features ul {display: block; margin: 0;}
    #features li {width: 88vw; margin: 2vw auto 0 auto; aspect-ratio: 4/1; overflow: hidden; border-radius:4vw;}
    #features li p{text-align: left; font-size: 3.6vw; bottom: 50%; transform: translateY(50%); left: 4vw;}
    #features img {height: 22vw; width: auto; bottom: 0; right: 4vw; transform: none;}
    div.comming{font-size: 3vw; width: 24vw; height: 5.2vw; border-radius: 2.6vw; margin: -4vw auto 0 auto;}
    .features-li-coming p{bottom: 64% !important;}
    #features li div {left: 4vw; top: 12vw;}
    .features-li-comingsoon{left: 4vw; top: 14.2vw !important;}
}


/* ーーーーーーーーーーーーーーーーーーresourcesーーーーーーーーーーーーーーーーーー */
#resources {
    text-align: center;
    padding: 0px 0; /* .resources_anno pを記述する際はtop,bottomを60pxに戻す */
    max-width: 100%;
}
#resources ul{
    margin: 0 0 80px 0;
}
#resources li{
    font-size: 32px;
    margin: 0 0 40px 0;
}
.resources_anno hr{background-color: #d3d3d3; height: 1px; border: none;}
.resources_anno p{
    margin: 80px 0 0 0;
}

@media screen and (max-width: 480px) { /* スマホ用 */
    #resources {padding: 0 0 8vw 0;} /* .resources_anno pを記述する際はtop,bottomを12vwに戻す */
    #resources ul{margin: 0 0 12vw 0}
    #resources li{font-size: 4vw; margin: 0 0 14vw 0;}
    .resources_anno hr{max-width: 88vw; height: 0.4vw;}
    .resources_anno p{margin: 10vw 0 0 0;}
}

/* ーーーーーーーーーーーーーーーーーーfooterーーーーーーーーーーーーーーーーーー */
footer{
    background: #fff;
}
footer div div{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    height: 60px;
    margin: 20px;
}

@media screen and (max-width: 480px) {
    footer {text-align: center; padding: 2vw 0 4vw 0;}
    footer div div{display: block;}
    footer img {margin: 0 auto; padding: 4vw 0; height: 22vw;}
    small {font-size: 3vw;}
}


/* end of contents */
/* Copyright © SocioFuture, Ltd. All Rights Reserved. */

